{% extends 'base.html' %}
{% block content %}

<div class="card">
	<p>Taskify was a quick excercise in making web apps. Previously, I had only done big projects that did not apply to the majority of the population, but a to-do list app is always useful.</p>
	<p>Setting up to finished development of this project took less than two hours, using Python and Django. It is meant for personal use only and does not have a user management system.</p>
	<p>Made in 2017 by Audrey Serene.</p>
</div>

<div style="height: 100px;"></div>

{% endblock %}